@model IEnumerable<CS2AZapicoEdwardJoseph_MVCProject.BusLogic.Model.tblStudent>

<div>
    <h2>Student List</h2>
    <a class="btn btn-primary m-2" href="/Student/AddNewStudent">Add New Student</a>
    <table>
        <thead>
            <tr>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Age</th>
                <th>Course</th>
                <th>Actions</th>
            </tr>
        </thead>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.FirstName</td>
                    <td>@student.LastName</td>
                    <td>@student.Age</td>
                    <td>@student.Course</td>
                    <td>
                        <a class="btn btn-warning m-0" href="/Student/EditStudent/@student.ID">Edit</a>
                        <button class="btn btn-danger delete-student" data-id="@student.ID">Delete</button>
                    </td>
                </tr>
            }
    </table>
</div>
